<div class="container">
    <%include partials/header.ejs %>
    
    <div class="container">
        <div class="centered">
            <h1 class="display-4 font-italic">ELI KOSLOFSKY</h1>
            <a href="https://www.linkedin.com/in/elikoslofsky/">
                <img src="https://i.imgur.com/02b6HB0.png" alt="Linkedin" width=150px>
            </a>
            <a href="https://github.com/elibk91/" class="links">
                <img src="https://i.imgur.com/5MADp4J.png" alt="GitHub" width=150px>
            </a>
        </div>
        <br>
        <br>
        
        <div class="container">
            <div class="container">
                <p class="centered">
                    Eli Koslofsky is a computer science student at Oregon State 
                    University.
                </p>
            </div>
        </div>
    
    
    </div>

    <%include partials/footer.ejs %>
</div>
