<div class="container">
    <%include partials/header.ejs %>
    <div class="thumbnail">
        <img src="https://i.imgur.com/YuuKGDn.jpg" style="width:100%">
    </div>
    <%include partials/footer.ejs %>  
</div>